.modal {
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
  visibility: hidden;
  pointer-events: none;
  backdrop-filter: blur(3px);
  &_active {
    visibility: visible;
    pointer-events: all;
    z-index: 2;
  }
}

.content {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 280px;
  width: 485px;
  padding: 30px;
  border-radius: 5px;
  transform: scale(0);
  transition: 0.3s all;
  &_active {
    transform: scale(1);
    opacity: 1;
  }
}

@media (max-width: 425px) {
  .content {
    width: 370px;
  }
}
