@import 'src/style/variables';

.container {
  background-color: $main;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 50px;
  color: white;
}
